<h1>Les Utilisateurs</h1>
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-md-4">
        <!-- Button trigger modal -->
        <button class="btn btn-primary" data-toggle="modal" data-target="#addVilleModal"><i class="fas fa-plus"></i> User</button>
      </div>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Id</th>
        <th>Nom</th>
        <th>Email</th>
        <th>Role</th>
        <th>Operations</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td *ngIf="!this.couvertureService.hideAdminRole(user)">{{ user.id }}</td>
        <td *ngIf="!this.couvertureService.hideAdminRole(user)">{{ user.nom }}</td>
        <td *ngIf="!this.couvertureService.hideAdminRole(user)">{{ user.email }}</td>
        <td *ngIf="!this.couvertureService.hideAdminRole(user)">{{ user.role?.couverture.nomFr }} {{ user.role?.couverture.nom }}</td>
        <td *ngIf="!this.couvertureService.hideAdminRole(user)">
          <a (click)="updateUser(user.id)" class="text-primary"><i class="fas fa-pencil-alt"></i></a>&nbsp;&nbsp;
          <a (click)="showModal(user)" class="text-danger"><i class="fas fa-trash"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="container">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item active" *ngFor="let page of pages; let i=index"><a class="page-link" (click)="goToPage(i)">{{ i+1 }}</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="addVilleModal" tabindex="-1" role="dialog" aria-labelledby="addVilleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addVilleModalLabel">Ajouter un Utilisateur</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #f="ngForm" (ngSubmit)="addUser(f.value)" >
            <div *ngIf="errors" class="alert alert-danger alert-dismissible fade show">
              <li *ngFor="let error of errors">
                {{ error }}
              </li>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="form-group">
              <label for="nom">Nom</label>
              <input type="text" name="nom" required="" ngModel class="form-control">
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" required="" ngModel email class="form-control" name="email">
            </div>
            <div class="form-group">
              <label for="tel">Telephone</label>
              <input type="text" required="" ngModel class="form-control" name="tel">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" required="" ngModel class="form-control" name="password">
            </div>
            <div class="form-group">
              <label for="repeatPassword">Repetez le mot de passe</label>
              <input type="password" required="" ngModel class="form-control" name="repeatpassword">
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Ajouter</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary"  data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<!--
  &lt;!&ndash; Modal &ndash;&gt;
  <div class="modal fade" id="showVilleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ville selectioné</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="nom">Nom</label>
            <input *ngFor="let info of infoS" type="text" class="form-control" id="nomS" name="nomS" [(ngModel)]="info.nom" disabled="disabled">
          </div>
          <div class="form-group">
            <label for="nom">Region</label>
            <input *ngFor="let info of infoS" type="text" class="form-control" id="nomS" name="nomS" [(ngModel)]="info.region.nomFr" disabled="disabled">
          </div>
        </div>
      </div>
    </div>
  </div>-->

</div>

