/* You can add global styles to this file, and also import other style files */

@import "assets/css/all.css";
@import "assets/css/fontawesome.min.css";
@import "assets/css/bootstrap.min.css";

/*@import "assets/css/riliwan-rabo.css";
@import "assets/css/style.css";
@import "assets/css/form.css";
@import "assets/css/loading-bars.css";*/



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4.0rem;            /* Footer height */
  background: #000;
  line-height: 20px;
  padding: 20px;
}

