<div class="container">
  Bienvenue dans notre application ...
  <br> <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cum debitis
  <br>
  dicta dolore, enim exercitationem fugiat iste laboriosam nemo
  <br>
  nostrum quasi quisquam recusandae! Enim eveniet inventore minus nostrum optio, sunt!
  <br> <br>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis cum debitis
  <br>
  dicta dolore, enim exercitationem fugiat iste laboriosam nemo
  <br>
  nostrum quasi quisquam recusandae! Enim eveniet inventore minus nostrum optio, sunt!
  <br>
  Denoncer un proleme par <a routerLink="/denoncer">ici</a>
</div>
