<div class="container">
  "Plainte" : un mot que certains emploient à tour de bras sans vraiment en connaître les causes et
  les conséquences. Que vous soyez victime ou non, une plainte tente d'apaiser une situation devenue insurmontable en
  essayant de trouver des solutions. Alors plaignez-vous quand cela est nécessaire mais pas à tort et à travers !
  Vous souhaitez porter plainte contre le tapage nocturne de votre voisin ?
  Vous voulez signaler un harcèlement téléphonique ? Chantage, violence, abus de confiance, vol ou escroquerie,
  atteinte à la vie privée…autant de causes qui font l’objet de lettres de plainte.

  Comment bien exprimer sa réclamation ? Comment retirer sa plainte ?

  Denoncer un proleme par <a href="/denoncer">ici</a>
</div>
